body {
  overflow-x: hidden;
}
#welcome-section {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100vh;
  background-color: rgb(237, 178, 178);
}

#welcome-section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

#projects-section {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
  background-color: rgb(178, 237, 191);
}

#contact-section {
  position: absolute;
  width: 100%;
  top: 200vh;
  height: 100vh;
  background-color: rgb(74, 178, 74);
}

#contact-section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
  }

#nav-ul {
  text-align: center;
  list-style-type: none;
}

#nav-li {
  margin-left: 30px;
  display: inline;
  font-weight: 500;
  cursor: pointer;
}

#nav-li a {
  font-size: 1.5vw;
  color: black;
  text-decoration: none;
}

#nav-li :hover {
  color: brown;
}

.project-title {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.margin1{
    margin-top: 10px;
}

#projects-section .project-title h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: 10px;
  text-align: center;
}

#projects-section .project-title h1 a {
  text-decoration: none;
  cursor: pointer;
}

#welcome-title {
  text-align: center;
}

#navbar {
  position: fixed;
  top: 0;
  height: 50px;
  max-height: 50px;
  width: 100%;
  z-index: 9999;
  background-color: bisque;
}
